<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>875664835580-ngodn3mvpmkg3be6fl4077639dn936qb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875664835580-ngodn3mvpmkg3be6fl4077639dn936qb</string>
	<key>API_KEY</key>
	<string>AIzaSyCGjvSeoEQzsc2SVF7A3UJFlvHl_ODtZUw</string>
	<key>GCM_SENDER_ID</key>
	<string>875664835580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.f41Flutter</string>
	<key>PROJECT_ID</key>
	<string>f41-flutterfire</string>
	<key>STORAGE_BUCKET</key>
	<string>f41-flutterfire.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875664835580:ios:21eacd2a837b02c9f82879</string>
</dict>
</plist>